<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Manage Addresses</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>
<body>
    <h1>Address Library</h1>
    <p>Store shipping and billing logistics for customers, making every delivery a breeze.</p>

    <!-- Addresses Table -->
    <table id="addresses-table">
        <thead>
            <tr>
                <th>Address ID</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Street Address</th>
                <th>Unit</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Address Tools</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value="{{this.addressID}}">
                <td>{{this.addressID}}</td>
                <td>{{this.customerID}}</td>
                <td>{{this.customerName}}</td>
                <td>{{this.streetAddress}}</td>
                <td>{{this.unit}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.postalCode}}</td>
                <td>
                    <button id="update-address-button-{{this.addressID}}" data-address-id="{{this.addressID}}">Update</button>
                    <button id="delete-address-button-{{this.addressID}}" data-address-id="{{this.addressID}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Add Address Button -->
    <button id="add-address-button">Add New Address</button>

    <!-- Add Address Modal -->
    <div id="add-address-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="add-address-modal">&times;</span>
            <h2>Add New Address</h2>
            <form id="add-address-form-ajax">
                <label for="input-customerID">Customer:</label>
                <select name="input-customerID" id="input-customerID" required>
                    <option value="">Select a Customer</option>
                    {{#each customers}}
                    <option value="{{this.customerID}}">{{this.customerName}}</option>
                    {{/each}}
                </select>

                <label for="input-streetAddress">Street Address:</label>
                <input type="text" id="input-streetAddress" name="streetAddress" required>

                <label for="input-unit">Unit:</label>
                <input type="text" id="input-unit" name="unit">

                <label for="input-city">City:</label>
                <input type="text" id="input-city" name="city" required>

                <label for="input-state">State:</label>
                <input type="text" id="input-state" name="state" required>

                <label for="input-postalCode">Postal Code:</label>
                <input type="text" id="input-postalCode" name="postalCode" required>

                <button type="submit">Add Address</button>
                <button type="button" id="cancel-add-address">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Update Address Modal -->
    <div id="update-address-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="update-address-modal">&times;</span>
            <h2>Update Address #<span id="updateAddressID"></span></h2>
            <form id="update-address-form-ajax">
                <input type="hidden" id="addressID" name="addressID">

                <label for="input-streetAddress-update">Street Address:</label>
                <input type="text" id="input-streetAddress-update" name="streetAddress" required>

                <label for="input-unit-update">Unit:</label>
                <input type="text" id="input-unit-update" name="unit">

                <label for="input-city-update">City:</label>
                <input type="text" id="input-city-update" name="city" required>

                <label for="input-state-update">State:</label>
                <input type="text" id="input-state-update" name="state" required>

                <label for="input-postalCode-update">Postal Code:</label>
                <input type="text" id="input-postalCode-update" name="postalCode" required>

                <button type="submit">Save</button>
                <button type="button" id="cancel-update-address">Cancel</button>
            </form>
        </div>
    </div>

    <!-- JavaScript Includes -->
    <script src="./js/manage_modal.js"></script>
    <script src="./js/validate_input.js"></script>
    <script src="./js/delete_address.js"></script>
    <script src="./js/add_address.js"></script>
    <script src="./js/update_address.js"></script>
    
</body>
</html>
