{{!-- Create a table --}}
<table id="customer-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.customerEmail}}</td>
            <td>{{this.customerPhone}}</td>
            <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding Data with AJAX</h2>
<p>To add a new customer, please enter their information below and click 'Submit'!</p>
<form id="add-customer-form-ajax">
    <label for="customerName">Name: </label>
    <input type="text" name="customerName" id="customerName" required> 
    
    <label for="customerEmail">Email: </label>
    <input type="text" name="customerEmail" id="customerEmail" value="example@example.com" required>

    <label for="customerPhone">Phone Number: </label>
    <input type="text" name="customerPhone" id="customerPhone" value="999-999-9999" required>

    <input type="submit">
</form>

<h2>Updating A Customer Form</h2>
<p>To update a specific customer, fill out the form below.</p>
<form id="update-customer-form-ajax">

    <label for="input-customerName">Full name: </label>
    <select name="input-customerName" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.customerID}}">{{this.customerName}}</option>
        {{/each}}
    </select>

    <label for="input-customerEmail">Email: </label>
    <input type="text" name="input-customerEmail" id="input-customerEmail" value="example@example.com" required>

    <label for="input-customerPhone">Phone Number: </label>
    <input type="text" name="input-customerPhone" id="input-customerPhone" value="999-999-9999" required>

    <input type="submit">

</form>



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>
<script src="./js/update_customer.js"></script>

