<!-- dogs.hbs - Renders data for Dogs page (Dogs and Dog_Breeds tables) -->

{{!--
    Citation for Rendering Data and Creating Forms Using Handlebars and Events
    - Date: 12/1/2024
    - Adapted from: Node.js Starter App – Step 3 - 8
    - Source URLs
      1. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
      2. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data 
      3. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
      4. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
      5. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data 
      6. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
    - Adaptation Details: The structure and logic for rendering table rows, dynamic dropdowns, and forms dynamically based on server-provided data were adapted from the repository.
--}}

{{!--
    Citation for Modal Integration
    - Date: 12/1/2024
    - Adapted from: W3Schools – How To Create a Modal Box
    - Source URL: https://www.w3schools.com/howto/howto_css_modals.asp
    - Adaptation Details: The structure and styling of modal boxes for displaying intersection tables, add data forms, and update data forms were modelled after the modal box example on W3Schools.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Manage Dogs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>
<body>
    <h1>Pup Profiles</h1>
    <p>Organize pup's information and measurements</p>

    <!-- Dogs Table -->
    <table id="dogs-table" border="1">
        <thead>
            <tr>
                <th>Dog ID</th>
                <th>Customer ID</th>        
                <th>Dog Name</th>
                <th>Customer Name</th>
                <th>Upper Neck Girth (in)</th>
                <th>Lower Neck Girth (in)</th>
                <th>Chest Girth (in)</th>
                <th>Back Length (in)</th>
                <th>Height Length (in)</th>
                <th>Paw Width (in)</th>
                <th>Paw Length (in)</th>
                <th>Breed Tools</th>
                <th>Dog Tools</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value="{{this.dogID}}"> 
                <td>{{this.dogID}}</td>
                <td>{{this.customerID}}</td>
                <td>{{this.dogName}}</td>
                <td>{{this.customerName}}</td>
                <td>{{this.upperNeckGirthIn}}</td>
                <td>{{this.lowerNeckGirthIn}}</td>
                <td>{{this.chestGirthIn}}</td>
                <td>{{this.backLengthIn}}</td>
                <td>{{this.heightLengthIn}}</td>
                <td>{{this.pawWidthIn}}</td>
                <td>{{this.pawLengthIn}}</td>
                <td>
                    <button id="manage-dog-button-${{item.dogID}}" data-dog-id="${item.dogID}">Manage</button>
                </td>
                <td>
                    <button id="update-dog-button-{{this.dogID}}" data-dog-id="{{this.dogID}}">Update</button>
                    <button id="delete-dog-button-{{this.dogID}}" data-dog-id="{{this.dogID}}">Delete</button>
                </td>
            </tr>
            {{/each}} 
        </tbody>
    </table>

    <!-- Add Dog Button -->
    <button id="add-dog-button">Add New Dog</button>

    <!-- Add Dog Modal -->
    <div id="add-dog-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="add-dog-modal">&times;</span>
            <h2>Add New Dog</h2>
            <form id="add-dog-form">
                <label for="customerID">Customer ID:</label>
                <select id="customerID" name="customerID" required></select>

                <label for="dogName">Dog Name:</label>
                <input type="text" id="dogName" name="dogName" required><br>

                <label for="upperNeckGirthIn">Upper Neck Girth (in):</label>
                <input type="number" id="upperNeckGirthIn" name="upperNeckGirthIn" required><br>

                <label for="lowerNeckGirthIn">Lower Neck Girth (in):</label>
                <input type="number" id="lowerNeckGirthIn" name="lowerNeckGirthIn" required><br>

                <label for="chestGirthIn">Chest Girth (in):</label>
                <input type="number" id="chestGirthIn" name="chestGirthIn" required><br>

                <label for="backLengthIn">Back Length (in):</label>
                <input type="number" id="backLengthIn" name="backLengthIn" required><br>

                <label for="heightLengthIn">Height Length (in):</label>
                <input type="number" id="heightLengthIn" name="heightLengthIn" required><br>

                <label for="pawWidthIn">Paw Width (in):</label>
                <input type="number" id="pawWidthIn" name="pawWidthIn" step=".1" required><br>

                <label for="pawLengthIn">Paw Length (in):</label>
                <input type="number" id="pawLengthIn" name="pawLengthIn" step=".1" required><br>

                <button type="submit">Add Dog</button>
                <button type="button" id="cancel-add-dog">Cancel Dog</button>
            </form>
        </div>
    </div>

    <!-- Update Dog Modal -->
    <div id="update-dog-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="update-dog-modal">&times;</span>
            <h2>Dog #<span id="updateDogID"></span> - Update Dog</h2>
            <form id="update-dog-form">
                <input type="hidden" id="dogID" name="dogID">

                <label for="updateDogName">Dog Name:</label>
                <input type="text" id="updateDogName" name="dogName" required><br>

                <label for="updateUpperNeckGirthIn">Upper Neck Girth (in):</label>
                <input type="number" id="updateUpperNeckGirthIn" name="upperNeckGirthIn" required><br>

                <label for="updateLowerNeckGirthIn">Lower Neck Girth (in):</label>
                <input type="number" id="updateLowerNeckGirthIn" name="lowerNeckGirthIn" required><br>

                <label for="updateChestGirthIn">Chest Girth (in):</label>
                <input type="number" id="updateChestGirthIn" name="chestGirthIn" required><br>

                <label for="updateBackLengthIn">Back Length (in):</label>
                <input type="number" id="updateBackLengthIn" name="backLengthIn" required><br>

                <label for="updateHeightLengthIn">Height Length (in):</label>
                <input type="number" id="updateHeightLengthIn" name="heightLengthIn" required><br>

                <label for="updatePawWidthIn">Paw Width (in):</label>
                <input type="number" id="updatePawWidthIn" name="pawWidthIn" step=".1" required><br>

                <label for="updatePawLengthIn">Paw Length (in):</label>
                <input type="number" id="updatePawLengthIn" name="pawLengthIn" step=".1" required><br>

                <button type="submit">Save</button>
                <button type="button" id="cancel-update-dog">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Manage Dog Breeds Modal -->
    <div id="dog-breeds-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="dog-breeds-modal">&times;</span>
            <h2>Dog #<span id="manageDogID"></span> - Dog Breeds</h2>

            <!-- Dog Breeds Table -->
            <table id="dog-breeds-table" border="1">
                <thead>
                    <tr>
                        <th>Dog Breed ID</th>
                        <th>Dog ID</th>
                        <th>Breed ID</th>
                        <th>Breed Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Populated dynamically by JS -->
                </tbody>
            </table>

            <!-- Add New Dog Breed Button -->
            <button id="add-dog-breed-button">Add Dog Breed</button>

            <!-- Add New Dog Breed Form -->
            <div class="hidden">
                <h3 id="add-dog-breed-title">Add Dog Breed</h3>
                <form id="add-dog-breed-form">
                    <label for="breedID">Breed ID:</label>
                    <select id="breedID" name="breedID" required></select>

                    <button type="submit">Add</button>
                    <button type="button" id="cancel-add-dog-breed">Cancel</button>
                </form>
            </div>

            <!-- Update Dog Breed Form -->
            <div class="hidden">
                <h3 id="update-dog-breed-title">Update Dog Breed</h3>
                <form id="update-dog-breed-form">
                    <input type="hidden" id="dogBreedID" name="dogBreedID">

                    <label for="updateBreedID">Breed ID:</label>
                    <select id="updateBreedID" name="breedID" required></select>

                    <button type="submit">Save</button>
                    <button type="button" id="cancel-update-dog-breed">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- JS source -->
    <script src="/js/dogs.js"></script>
</body>
</html>