<!-- products.hbs - Renders data for Products page (Products table) -->

{{!--
    Citation for Rendering Data and Creating Forms Using Handlebars and Events
    - Date: 12/1/2024
    - Adapted from: Node.js Starter App – Step 3 - 8
    - Source URLs
      1. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
      2. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data 
      3. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
      4. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
      5. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data 
      6. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
    - Adaptation Details: The structure and logic for rendering table rows, dynamic dropdowns, and forms dynamically based on server-provided data were adapted from the repository.
--}}

{{!--
    Citation for Modal Integration
    - Date: 12/1/2024
    - Adapted from: W3Schools – How To Create a Modal Box
    - Source URL: https://www.w3schools.com/howto/howto_css_modals.asp
    - Adaptation Details: The structure and styling of modal boxes for displaying intersection tables, add data forms, and update data forms were modelled after the modal box example on W3Schools.
--}}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Product Catalog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>
<body>
    <h1>Product Catalog - Where Couture Meets Catalog</h1>
    <p>Upkeep an Alby-approved product catalog, ensuring every pup's pawdrobe stays comfy and trendy.</p>

    <table id="products-table" border="1">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Base Color</th>
                <th>Color Style</th>
                <th>Lining Material</th>
                <th>Filling Material</th>
                <th>Base Price</th>
                <th>Product Tools</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value="{{this.productID}}">
                <td>{{this.productID}}</td>
                <td>{{this.productName}}</td>
                <td>{{this.productDescription}}</td>
                <td>{{this.productType}}</td>
                <td>{{this.productColorBase}}</td>
                <td>{{this.productColorStyle}}</td>
                <td>{{this.productLiningMaterial}}</td>
                <td>{{this.productFillingMaterial}}</td>
                <td>{{this.productBasePrice}}</td>
                <td>
                    <button id="update-product-button-{{this.productID}}" data-product-id="{{this.productID}}">Update</button>
                    <button id="delete-product-button-{{this.productID}}" data-product-id="{{this.productID}})">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Add Product Button -->
    <button id="add-product-button">Add New Product</button>

    <!-- Add Product Modal -->
    <div id="add-product-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="add-product-modal">&times;</span>
            <h2>Add New Product</h2>
            <form id="add-product-form">
                <label for="productName">Name:</label>
                <input type="text" id="productName" name="productName" required/>

                <label for="productDescription">Description:</label>
                <input type="text" id="productDescription" name="productDescription" required/>

                <label for="productType">Category:</label>
                <select id="productType" name="productType" required>
                    <option value="Bandana">Bandana</option>
                    <option value="Sock">Sock</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Sweater">Sweater</option>
                    <option value="Jacket">Jacket</option>
                    <option value="Hoodie">Hoodie</option>
                    <option value="Coat">Coat</option>
                    <option value="Pajama">Pajama</option>
                    <option value="Tuxedo">Tuxedo</option>
                    <option value="Dress">Dress</option>
                    <option value="Bodysuit">Bodysuit</option>
                </select>

                <label for="productColorBase">Color Base:</label>
                <input type="text" id="productColorBase" name="productColorBase" required/>

                <label for="productColorStyle">Color Style:</label>
                <select id="productColorStyle" name="productColorStyle">
                    <option value="Standard">Standard</option>
                    <option value="Pastel">Pastel</option>
                    <option value="Rich">Rich</option>
                    <option value="Metallic">Metallic</option>
                    <option value="Matte">Matte</option>
                </select>

                <label for="productLiningMaterial">Lining Material:</label>
                <select id="productLiningMaterial" name="productLiningMaterial" required>
                    <option value="Cotton">Cotton</option>
                    <option value="Polyester">Polyester</option>
                    <option value="Denim">Denim</option>
                    <option value="Nylon">Nylon</option>
                    <option value="Wool">Wool</option>
                    <option value="Fleece">Fleece</option>
                </select>

                <label for="productFillingMaterial">Filling Material:</label>
                <select id="productFillingMaterial" name="productFillingMaterial">
                    <option value="">None</option>
                    <option value="Polyester">Polyester</option>
                    <option value="Down">Down</option>
                    <option value="Cotton">Cotton</option>
                </select>

                <label for="productBasePrice">Base Price:</label>
                <input type="number" id="productBasePrice" name="productBasePrice" required/>

                <button type="submit">Add Product</button>
                <button type="button" id="cancel-add-product">Cancel Product</button>
            </form>
        </div>
    </div>

    <!-- Update Product Modal -->
    <div id="update-product-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal" data-modal-id="update-product-modal">&times;</span>
            <h2>Product #<span id="updateProductID"></span> - Update Product</h2>
            <form id="update-product-form">
                <input type="hidden" id="productID" name="productID">

                <label for="updateProductName">Product Name:</label>
                <input type="text" id="updateProductName" name="productName" required/>

                <label for="updateProductDescription">Description</label>
                <input type="text" id="updateProductDescription" name="productDescription" required/>

                <label for="updateProductType">Category:</label>
                <select id="updateProductType" name="productType" required>
                    <option value="Bandana">Bandana</option>
                    <option value="Sock">Sock</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Sweater">Sweater</option>
                    <option value="Jacket">Jacket</option>
                    <option value="Hoodie">Hoodie</option>
                    <option value="Coat">Coat</option>
                    <option value="Pajama">Pajama</option>
                    <option value="Tuxedo">Tuxedo</option>
                    <option value="Dress">Dress</option>
                    <option value="Bodysuit">Bodysuit</option>
                </select>

                <label for="updateProductColorBase">Color Base:</label>
                <input type="text" id="updateProductColorBase" name="productColorBase" required/>

                <label for="updateProductColorStyle">Color Style:</label>
                <select id="updateProductColorStyle" name="productColorStyle">
                    <option value="Standard">Standard</option>
                    <option value="Pastel">Pastel</option>
                    <option value="Rich">Rich</option>
                    <option value="Metallic">Metallic</option>
                    <option value="Matte">Matte</option>
                </select>

                <label for="updateProductLiningMaterial">Lining Material:</label>
                <select id="updateProductLiningMaterial" name="productLiningMaterial" required>
                    <option value="Cotton">Cotton</option>
                    <option value="Polyester">Polyester</option>
                    <option value="Denim">Denim</option>
                    <option value="Nylon">Nylon</option>
                    <option value="Wool">Wool</option>
                    <option value="Fleece">Fleece</option>
                </select>

                <label for="updateProductFillingMaterial">Filling Material:</label>
                <select id="updateProductFillingMaterial" name="productFillingMaterial">
                    <option value=""></option>
                    <option value="Polyester">Polyester</option>
                    <option value="Down">Down</option>
                    <option value="Cotton">Cotton</option>
                </select>

                <label for="updateProductBasePrice">Base Price:</label>
                <input type="number" id="updateProductBasePrice" name="productBasePrice" required/>

                <button type="submit">Save</button>
                <button type="button" id="cancel-update-product">Cancel</button>
            </form>
        </div>
    </div>

    <!-- JS source -->
    <script src="/js/products.js"></script>
</body>
</html>
